#preHeader{
    
    font-size: 15px;
    text-align: right;
    color: #bc562b;
    width: 95%;
    
}

font{
    font-family: 'Phenomena', sans-serif;  
    font-size: 20px;                                              
}



.menu-principal{
    width: 100%;
    background-color: #bc562b;
    height: 65px;
}

main{
    
    margin: 0 auto;
    width:100%;
    position: relative;   
    
}

.logo{
    float: left;
    
}

.rede-sociais ul li{
    
    display: inline-block;
    list-style: none;
    margin: 5px;
    
}

.rede-sociais{
    width: 18%;
    float: right;
}

marquee{
    
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #bc562b;
    height: 15px;
}

#quemSomos{
    
        border-collapse: collapse;
        border-radius: 3px; 
        overflow: hidden; 
}

.mascaraRio {
    background-image: url('./image/Rj.jpg'); 
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    text-align: center; /* Alinhe o texto ao centro, se desejar */
    
    
}

  